@font-face 
{
    font-family: Seminaria; /* Имя шрифта */
    src: url(../sourse/fonts/Seminaria.ttf); /* Путь к файлу со шрифтом */
}

input, button
{
    font-family: Seminaria;
}
html, body
{
    margin: 0;
    height: 100%;
    font-family: Seminaria;
    background-color: lightgoldenrodyellow;
}
.wrapper
{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main
{
    flex: 1 1 auto;
    margin-left: 5%;
    margin-right: 5%;
}
.telo
{
    margin: 5%;
    background-color: coral;
    border-radius: 5vh;
    min-height: 20vh;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.form_news
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
header
{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    z-index: 1;
    height: 11vh;
}
.logo
{
    height: 7vh;
    margin: 2vh;
    margin-left: 21vh;
}
.header_text
{
    margin-top: 2vh;
    margin-left: 10vh;
}
footer
{
    background-color: burlywood;
    height: 5vh;
}
.footer_text
{
    margin-top: 1vh;
}
ul, li
{
    list-style: none;
}
.menu
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;   
}
.menu_img
{
    position: relative;
    margin-top: -7.5vh;
    height: 15vh;
    width: 20vh;  
}
a 
{
    text-decoration: none;
    color: inherit;
}
.menu_statick
{
    cursor: pointer;
}
.oder
{
    margin: 5%;
    padding: 5%;
    background-color: coral;
    border-radius: 10vh;
    min-height: 50vh;
    max-height: auto;

}
.form_autor
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.form_reg
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.chek
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 5vh;
}
.chek_kadr
{
    margin-left: 25vh;
}
.pole_autor, .but_autor, .pole_reg, .but_reg
{
    border-radius: 10vh;
}
.but_reg, .but_autor
{
    width: 100%;
    cursor: pointer;
}
.bron_users
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.bron_users_admin
{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.dann
{
    display: grid;
    grid-template-rows: auto auto;
}
.knopki
{
    display: grid;
    grid-template-rows: auto 1fr;
}
.kniga_img
{
    height: 27vh;
    width: 17vh;
    border-radius: 4vh;
    margin-top: 2.2vh;
}
.kniga_text
{
    border-radius: 4vh;
    background-color: whitesmoke;
    margin-left: -10vh;
    margin-right: 2vh;
    padding: 3%;
    height: 27vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.h1_lk
{
    margin-top: 5%;
    margin-bottom: -3%;
}
.time
{
    border-radius: 10vh;
    height: 7vh;
    margin-top: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.but_otm
{
    border-radius: 10vh;
    height: 7vh;
    margin-top: 20%;
}
.info_katalog
{
    padding: 5vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-left: 20%;
}
.img_katalog
{
    height: 30vh;
    width: auto;
    max-width: 18vh;
    position: relative;
    margin-top: 4.2vh;
}
.info_katalog_text
{
    display: grid;
    grid-template-rows: auto auto auto auto;
    margin-left: 2vh;
}
button
{
    border-radius: 6vh;
    border: 3px solid red; 
    font-size: 4vh;
    height: 7vh;
    cursor: pointer;
}
.but_katalog
{
    width: 15vh;
    float: right;
    margin-right: 5vh;
    margin-top: 4.2vh;
}
.but_katalog_but
{
    width: 27vh;
    float: right;
    margin-right: 1vh;
    margin-top: 4.2vh;
    cursor: not-allowed;
}
.but_katalog_adm
{
    width: 27vh;
    float: right;
    margin-top: 4.2vh;
}
.but_katalog_adm_dob
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    width: 90%;
    position: relative;
    margin-top: 15vh;
}
.red
{
    position: relative;
    margin-top: 25vh;
}
.forma_don
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr auto;
}
.info_katalof_admin
{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.forma_don_red
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.obr
{
    position: relative;
    margin-top: 1%;
}
.nou
{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.w_dob
{
    width: 100%;
}
.info_news_admin
{
    display: grid;
    grid-template-rows: 1fr auto auto auto auto;
}
.but_news_adm
{
    width: 100%;
    margin-top: 3vh;
}
.info_news
{
    display: grid;
    grid-template-rows: 1fr auto auto auto;
}
.img_news
{
    height: 40vh;
    width: auto;
    max-width: 100%;
}
.hei
{
    min-height: 20vh;
    word-wrap: break-word;
}
.forma_news
{
    display: grid;
    grid-template-rows: auto auto auto auto;
}
